@using System.Web.Optimization

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Подключаем стили через бандл -->
    @Styles.Render("~/bundles/bootstrap/css")

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .content {
            height: 2000px; /* Высота контента больше высоты экрана */
            padding: 20px;
            color: white;
            font-size: 24px;
        }

    </style>

</head>
<body style="background-color: #d9e3f1;">
    <!-- Навигация с контактной информацией -->
    
    <nav class="navbar fixed-top" style="background-color: #368dfd; --bs-scroll-height: 200px;" data-bs-theme="dark;">
        <div class=".container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <p>Этот блок имеет высоту 2000px, поэтому страница будет прокручиваться.</p>
        <p><p><h1>Прокрутите вниз</h1>
        <p>Этот блок имеет высоту 2000px, поэтому страница будет прокручиваться.</p>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
    

        @RenderBody() <!-- Контент каждой страницы будет вставлен сюда -->
        <!-- Подключаем скрипты через бандл -->
        @Scripts.Render("~/bundles/bootstrap/js")

</body>
</html>